section:first-of-type {
    background-image: url(../images/duurzaamheid/duurzaamheidbanner.jpeg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    height: 39em;
}

section:nth-of-type(2) h2{
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    padding: .5em 0;
}
section:nth-of-type(2) p{
    font-size: 1em;
    text-align: center;
    padding: 0 1em 1em 1em;
}

section:nth-of-type(3) article {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
section:nth-of-type(3) div{
    padding: 1em;
}

section:nth-of-type(3) h2 {
    font-size: 1.2em;
    padding-bottom: 1em;
}
section:nth-of-type(3) p {
    font-size: .8em;
    color: #a6a6a6;
    padding-bottom: 1em;
}

section:nth-of-type(3) button,
section:nth-of-type(7) button{
    padding: 1em 2em;
    color: var(--cola-white);
    background-color: var(--cola-black);
    border-radius: .2em;
}
 
section:nth-of-type(3) button:hover,
section:nth-of-type(7) button:hover {
    background-color: var(--cola-red);
    color: var(--cola-white);
    text-decoration: underline;
} 

section:nth-of-type(4) ul li h2 {
    color: var(--cola-white);
    font-size: 2em;
}
section:nth-of-type(4) ul {
	list-style-type: none;
	margin-top: 2em;
	
	display: grid;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
section:nth-of-type(4) ul li {
    height: 14em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
section:nth-of-type(4) ul li a {
	text-decoration: none;
}
section:nth-of-type(4) ul li a:hover{
	text-decoration: underline;
	color: var(--cola-white);
}
section:nth-of-type(4) ul li:first-of-type {
    background-image: url(../images/duurzaamheid/dranken.jpeg);
}
section:nth-of-type(4) ul li:nth-of-type(2) {
    background-image: url(../images/duurzaamheid/water.jpeg);
}
section:nth-of-type(4) ul li:nth-of-type(3) {
    background-image: url(../images/duurzaamheid/verpakkingen.jpeg);
}
section:nth-of-type(4) ul li:nth-of-type(4) {
    background-image: url(../images/duurzaamheid/maatschappij.jpeg);
}

section:nth-of-type(5) h2{
    font-size: 2em;
    text-align: center;
    padding: 1em 0;
}
section:nth-of-type(6) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section:nth-of-type(6) article {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 17em;
    border-radius: 1%;
    margin-bottom: 1em;
    cursor: pointer;
}
section:nth-of-type(6) img {
    width: 17em;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
section:nth-of-type(6) h2 {
    font-size: 1em;
    padding: 1em 1.5em .2em 1.5em;
}
section:nth-of-type(6) p:first-of-type {
    padding: 0 1.5em 1em 1.5em;
    font-size: .8em;
    color: #a6a6a6;
}
section:nth-of-type(6) p:nth-of-type(2) {
    font-size: .8em;    
    padding: 0 0 1em 1.5em;
}
section:nth-of-type(7){
    display: flex;
    justify-content: center;
   
}



/* derde section met details */
section:nth-of-type(8) details img:hover {
    animation-name: grow-animation;
    animation-duration: 10s;
   }
   section:nth-of-type(8) {
    margin-top: 1em;
   }
   section:nth-of-type(8) details:first-of-type ul li img {
       width: 4em;
   }
   section:nth-of-type(8) details ul li img{
       width: 8em;
   }
   section:nth-of-type(8) details ul:not(details:nth-of-type(3) ul li details ul) {
       display: flex;
       gap: 1em;
       justify-content: center;
       padding: 1em 0;
       flex-wrap: wrap;
   }
   section:nth-of-type(8) details:not(details:nth-of-type(3) > ul li details) {
       background: black;
   }
   section:nth-of-type(8) details ul li {
       list-style-type: none;
   }
   
   details:not(details:nth-of-type(8) > ul li details) {
       border-bottom: 1px solid var(--cola-white);
   }
     
   summary {
       list-style:none;
       align-items: center;
       display:flex;
       justify-content:space-between;
       padding-left: 1em;
       font-weight: 700;
       font-size: 1.2em;
       color: var(--cola-white);
   }
     /* <a href="https://www.flaticon.com/free-icons/youtube" title="youtube icons">Youtube icons created by Stockio - Flaticon</a> */
   summary::after {
       content: url(../images/icons/arrowdown.png);
       transform: scale(.4);
       /* content:"↓"; */
       display:block;
       transition:.5s;
       filter: invert(1);
   }


   details[open]:not(details:nth-of-type(8) ul li details) {
       border-bottom: 1px solid var(--cola-black);
   }
   details[open] ul{
       background-color: #efefef;
   }
   /* de invert doet het alleen op .1? */
   details[open] summary::after {
       transform:rotate(.5turn) scale(.4);
       filter: invert(.1);
   }
   
   details[open] summary {
       background-color: #efefef;
       color: black;
   }
   
   
   /* Hiermee pak je alleen de directe child van de 3e details */
   details:nth-of-type(8) > ul {
       background-color: var(--cola-white);
       background-image: url(../images/detailsimages/worldmap.png);
       background-size: cover;
   }
   details:nth-of-type(8) > ul li details summary {
       font-size: .8em;
       background-color: transparent;
   }
   details:nth-of-type(8) ul li a {
       text-decoration: none;
       color: var(--cola-black);
       font-size: .7em;
   }
   /* alle ul van de 3e details, behalve de direct child (de parent van deze) */
   details:nth-of-type(8) ul:not(details:nth-of-type(3) > ul) {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   
   details:nth-of-type(8) ul li details ul {
       background-color: transparent;
       
   }
   details:nth-of-type(8)[open] ul li details[open] summary::after {
       transform:rotate(1turn) scale(.4);
   }
   
   section:nth-of-type(8) button {
       background-color: var(--cola-black);
       width: 100%;
       padding: 1.5em;
       border-bottom: 1px solid var(--cola-white);
       color: var(--cola-white);
   }
   section:nth-of-type(8) button:hover {
       text-decoration: underline;
   }





@media (min-width: 750px) {
    section:not(section:first-of-type, section:nth-of-type(8)) {
        padding: 0 10.5em;
    }
    section:nth-of-type(2) h2{
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
        padding: .5em 0;
    }
    section:nth-of-type(3) article {
        display: flex;
        flex-direction: row;
    }
    section:nth-of-type(3) img{
        width: 30em;
    }
    section:nth-of-type(3) p{
        font-size: 1em;
    }
    section:nth-of-type(3) h2{
        font-size: 1.5em;
        padding-top: .5em;
    }
    
    section:nth-of-type(2) p {
        font-size: 1.5em;
    } 
	section:nth-of-type(4) ul {
		grid-template-columns: 1fr 1fr; 
	}

    section:nth-of-type(6) {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: row;
        gap: 1em;
    }
   
	 
}  

