/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--max-height: 152px;
	--cola-red: #E21013;
	--cola-black: #000000;
	--cola-white: #ffffff;
	--opacity: rgba(0,0,0,.5);
	/* kijk of deze maxheight de offsetheight van het element kan zijn. */
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

button {
	border: none;
	background: none;
} 

a:focus {
	outline: 2px dotted	 lightgrey;
	padding: 1em;
	background-color: var(--opacity); 
}


/*************/
/* hoofdmenu */
/*************/
header nav ul li a:hover {
	text-decoration: underline;
	text-decoration-color: var(--cola-red);
	text-decoration-thickness: .1em;
	
	
}
header nav:first-of-type ul {
	min-height:3em;
	background-color: var(--cola-black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	position: fixed;
    z-index: 5;
	width: 100%;
}

/* Home link coca cola nederland */
header nav:first-of-type ul li a {
	text-transform: uppercase;
	color: var(--cola-white);
	font-size: .8rem;
	font-weight: 700;
	text-align:center;
	text-decoration: none;
}

/* hamburger en zoekbutton */
header nav:first-of-type ul li button img {
	width: 2em;
	margin: .5em;
}

/* hamburbutton als menu open is */
header nav:first-of-type ul li:nth-of-type(1) button.open img {
	content: url("../images/icons/close.png");
}

/*****************/
/* hamburgermenu */
/*****************/
header nav:nth-of-type(2) {
	position: fixed;
	top: 3em;
	left: 0;
	right:0;
	height: 0;
	z-index: 5;
	overflow-y: hidden;
	/* margin-top: 3em; - nu top 3em */
	background-color: black;
	transition: 0.5s;
}

/* als hamburgermenu open is */
header nav:nth-of-type(2).open {
	height: calc(100% - 3em); /* min de top van 3em */
} 

header nav:nth-of-type(2) > ul {
	max-height:100%;
	overflow-y: auto;
}

/* alle li's  */
header nav:nth-of-type(2) > ul li {
	border-bottom: 1px solid #202020; 
}

/* eerste level li's */
header nav:nth-of-type(2) > ul > li {
	display:flex;
	flex-wrap: wrap;
}

/* alle a's */
header nav:nth-of-type(2) a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	color: var(--cola-white);
	min-height: 2rem;

	display:flex;
	align-items: center;

	font-size:1.2em;
}

/* a's in eerste level li's */
header nav:nth-of-type(2) > ul > li > a {
	flex-grow:1;
	padding:0 .75em;
}

/* plusbuttons */
header nav:nth-of-type(2) > ul > li button {
	width:2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #202020;
}

header nav:nth-of-type(2) > ul > li button img {
	width: 1.5em;
	display:block;
}
header nav:nth-of-type(2) > ul > li button:hover img {
	filter: contrast(2);
	transform: scale(1.2);
}

/* als submenu open is */
header nav:nth-of-type(2) > ul > li button.open img {
	content:url(../images/icons/minus.png);
}

/* een submenu */
header nav:nth-of-type(2) ul ul {
	position: relative;
	
	width: 100%;
	max-height:0em;
	overflow:hidden;

	transition:.3s;
}

/* als submenu open is */
header nav:nth-of-type(2) ul ul.open {
	max-height:var(--max-height);
	transition: .5s;
}

/* a's in submenu */
header nav:nth-of-type(2) ul ul a {
	padding:0 .75em 0 1.5em;
}


footer {
	background-color: var(--cola-black);
	padding: 1em 0;
}
footer h2 {
	text-transform: uppercase;
	text-align: center;
	color: var(--cola-white);
	padding: 1em 0;
}
footer p {
	color: var(--cola-white);
	font-size: .8em;
	text-align: center;
}
footer ul{
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-bottom: 2em;
}
footer ul li {
	list-style-type: none;
}
footer ul li:nth-of-type(2)::before, 
footer ul li:nth-of-type(3)::before, 
footer ul li:nth-of-type(4)::before {
	content: "|";
	color: var(--cola-white);
	padding-right: 1em;
}
footer ul li a {
	font-size: .8em;
	text-decoration: none;
	color: var(--cola-white);
}


/* media queries */
@media (min-width: 600px) {
	main section:nth-of-type(2) ul {
		 grid-template-columns: 4fr 3fr 1fr 4fr; 
		}
		main section:nth-of-type(2) ul li:nth-of-type(1) {
			grid-column: span 2;
			grid-row: span 2;
			height: 28em;
		}
		main section:nth-of-type(2) ul li:nth-of-type(2), 
		main section:nth-of-type(2) ul li:nth-of-type(3),
		main section:nth-of-type(2) ul li:nth-of-type(4),
		main section:nth-of-type(2) ul li:nth-of-type(5),
		main section:nth-of-type(2) ul li:nth-of-type(7){
			grid-column: span 2;
		}
		main section:nth-of-type(2) ul li:nth-of-type(9) {
			grid-column: span 4;
			height: 28em;
		}
		footer ul li a {
			font-size: 1em;
		}	
}  
@media (prefers-color-scheme: light) {
	/* light theme styles go here */
	header nav:first-of-type ul {
		background-color: var(--cola-white);
	}
	header nav:first-of-type ul li a {
		color: var(--cola-black);
	}
	header nav:first-of-type ul li button img {
		filter: invert(1);
	}
	section:nth-of-type(3) details:not(details:nth-of-type(3) > ul li details) {
		background: var(--cola-white);
	}
	summary {
		color: var(--cola-black);
	}
	summary::after{
		filter: invert(0);
	}
	details:not(details:nth-of-type(3) > ul li details) {
		border-bottom: 1px solid var(--cola-black);
	}
	section:nth-of-type(3) button {
		background-color: var(--cola-white);
		color: var(--cola-black);
	}
	footer {
		background-color: var(--cola-white);
	}
	footer h2, 
	footer p {
		color: var(--cola-black);
	}
	footer ul li a {
		color: var(--cola-black);
	}
	
  }

@media (min-width: 900px) {
	main section:nth-of-type(2) ul {
		grid-template-columns: 4fr 3fr 1fr 4fr; 
	   }
	   /* met span 2 laat je de column 2 plekken innemen van de fr (de eerste 2 zijn dus 4 fr + 3fr  */
	   main section:nth-of-type(2) ul li:nth-of-type(1) {
		   grid-column: span 2;
		   grid-row: span 2;
		   height: 28em;
	   }
	   main section:nth-of-type(2) ul li:nth-of-type(2), 
	   main section:nth-of-type(2) ul li:nth-of-type(3),
	   main section:nth-of-type(2) ul li:nth-of-type(4),
	   main section:nth-of-type(2) ul li:nth-of-type(5) {
		   grid-column: span 2;
	   }
	   main section:nth-of-type(2) ul li:nth-of-type(6) {
		grid-column: 1 / span 1;
		grid-row-start: 4;
	   }
	   /* grid-column 1 / span 1 = start op 1 en end op 1 */
	   main section:nth-of-type(2) ul li:nth-of-type(7) {
		grid-column: 1 / span 1;
	   }
	   main section:nth-of-type(2) ul li:nth-of-type(8) {
		grid-column: 1 / span 1;
	   }
	   main section:nth-of-type(2) ul li:nth-of-type(9) {
		grid-column: span 3;
		grid-row: 4 / span 3;
		height: 42em;
	   }
}  

@media (min-width: 62.5em) {
	header nav:nth-of-type(2) {

		right:unset;
		width: 20em;
	}

	header nav:nth-of-type(2) > ul {
		display: flex;
    flex-direction: column;
    gap: 3em;
		padding-top: 5em;
	}

	header nav:nth-of-type(2) > ul li {
		border-bottom: none; 
	}

	header nav:nth-of-type(2) a {
		font-weight: 300;
		font-size: 1em;
	}

	header nav:nth-of-type(2) > ul ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		gap: 1em;
	}

	header nav:nth-of-type(2) ul ul.open {
		padding-top: 1em;
	}

	header nav:nth-of-type(2) > ul > li > a {
		flex-grow:0;
	}
	
	
}

@keyframes grow-animation {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(2);
	}
}

