/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;

	--max-height: 152px;
	/* kijk of deze maxheight de offsetheight van het element kan zijn. */
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

button {
	border: none;
	background: none;
} 

header nav:first-of-type {
	padding: .75rem;
	width: 100%;
	background-color: black;
}

header nav:first-of-type ul li h2 {
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
	text-align:center;
}

nav:first-of-type ul li button img {
	width: 2em;
}

header nav:first-of-type ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	list-style-type: none;
}


 
/* de Class overlay-content is .nav2 > ul, deze pakt hij niet */
.overlay-content ul {
	position: relative;
	
	width: 100%;
	display: flex;
	flex-direction: column;
	
}
.overlay-content li {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.overlay-content button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5em;
}
.overlay-content button img {
	width: 1.5em;
	
}
.overlay-content li:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* nav2 is header section nav:nth-of-type(2), die pakt hij niet */
.nav2 {
	margin-top: 50px;
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-y: hidden;
	transition: 0.5s;
}

.nav2 > ul > li {
	list-style-type: none;
	display: grid;
	grid-template-columns: 2fr 1fr; 
}


.nav2 a {
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 800;
	color: white;
	margin-left: .75em;
	
	align-self: center;
}


ul li button:not(section:first-of-type nav:first-of-type ul li button) {
	justify-self: end;
	background-color: #202020;
	padding: 0 1em 0 1em;
}

ul li {
	border-bottom: 1px solid #202020; 
}

.heightOverlay {
	height: 100%;
  } 

.openList {
	max-height:0em;
	overflow:hidden;

	transition:.3s;
}

.openList.openLi {
	max-height:var(--max-height);

	transition: .5s;
}

/* probeer een css klas te maken die display weergeeft als je de ul aanklikt.
doe ipv dispay none iets met left right top enz, zie nav voorbeeld sanne. */

/* Als het scherm minimaal deze grootte is, gebruik dan deze styling
Echte site breekt bij 1000 pixels  */
@media screen and (min-width: 62.5em) {
	.nav2 {
		background-color: white;
	}
	.overlay-content {
		background-color: #202020;
		width: 20em;
		height: 100vh;
		display: flex;
    	flex-direction: column;
    	gap: 3em;
		padding-top: 5em;
	}
	.overlay-content li a {
		font-weight: 300;
		font-size: 1em;
	}
	.overlay-content li:nth-of-type(2) ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 1em;
		gap: 1em;
	}
}

main section {
	background-color: #F51812;
	height: 100vh;
}